    @import 'bootstrap-sprockets';
    @import 'bootstrap';

    .jumbotron {
        margin-bottom: 0px;
        background-image: url(http://beta.ucb.co.uk/sites/default/files/imagecache/scale_crop_640_245/lift-up-banner.png);
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fffbff;
        height: 300px;
        width: 800px;
    }

    .user-info {
        list-style-type: none;
    }

    .rak-list {
        list-style-type: none;
    }

    .btn {
        a {
            color: white;
        }
        a:hover {
            color: red;
        }
    }

    .unfinished-service {
        background-color: white !important;

        a {
            color: black !important;
        }
        a:hover {
            color: red important;
        }
    }

    .unfinished {
        background-color: white !important;

        a {
            color: black !important;
        }
        a:hover {
            color: red important;
        }
    }



